<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome Movie Fans!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This is a simple demo movie app.
      </p>
      <ion-button (click)="navigateToNativePage()">
        Show native demo
      </ion-button>
    </ion-card-content>
  </ion-card>  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label align="right">Movie App / HSLU I</ion-label>
  </ion-toolbar>
</ion-footer>